@font-face {
  font-family: Bubblegum;
  src: url("../fonts/Bubblegum.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  font-family: "Poppins";
}

.my-container {
  position: relative;
  text-align: center;
  padding: 0em 0;
  height: 100vh;
}

#container-2 {
  z-index: 1;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible !important;
  z-index: -6;
}

#svg-2 svg {
  z-index: -2;
}

.margin {
  margin-top: -5px;
}

.margin-2 {
  margin-top: -10px;
}

.margin-3 {
  margin-top: -15px;
}

a:hover {
  color: #003657 !important;
  text-decoration: none !important;
}

.nav {
  position: absolute;
  width: 100%;
  padding: 15px;
  z-index: 5;
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 2px #ff87a0;
}

.nav a {
  padding-left: 25px;
  color: #ffffff;
}

.nav a:hover {
  color: #ffd1da !important;
}

.nav p {
  display: inline;
}

.tree-icon {
  position: absolute;
  z-index: 5;
  color: #f9d1e3;
  text-shadow: 0px 3px 3px #693a5d;
}

.tree-icon:hover {
  color: #19ffeb !important;
}

.tree-icon *:hover {
  -webkit-animation: social-anim 1.5s alternate infinite linear;
          animation: social-anim 1.5s alternate infinite linear;
}

#github-tree {
  font-size: 5vw;
  left: 4.5vw;
  bottom: 30.5vw;
}

#linkedin-tree {
  font-size: 4vw;
  left: 20.5vw;
  bottom: 25vw;
}

#mail-tree {
  font-size: 4vw;
  right: 20.5vw;
  bottom: 25vw;
}

#resume-tree {
  font-family: sans-serif;
  font-size: 2vw;
  right: 3.5vw;
  bottom: 32vw;
}

.pink-background {
  position: absolute;
  background-color: #ffaaa3;
  height: 100vh;
  width: 100%;
  z-index: -10;
}

#content {
  position: relative;
  height: 100vh;
  z-index: 1;
  font-family: "Farro", sans-serif;
  letter-spacing: 2px;
}

#content h1 {
  padding-top: 10vh;
  color: #d53d80;
  font-size: 5em;
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: 0px 3px 5px #472b2b;
}

#content h2 {
  color: #d53d80;
  font-size: 3em;
  text-shadow: 0px 1px 1px #472b2b;
}

#content h3 {
  position: absolute;
  color: #fff7e7;
  -webkit-text-stroke: 1px #a75879;
  font-size: 3vw;
  bottom: 19.5vw;
  left: 38.5vw;
  width: 15vw;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

#sign {
  -webkit-transform: scale(1.5) translate(6%, -27%);
          transform: scale(1.5) translate(6%, -27%);
}

.candy_st84 {
  -webkit-transform: scaleX(1) scaleY(2) translate(25%, -41%);
          transform: scaleX(1) scaleY(2) translate(25%, -41%);
}

.candy_st85 {
  -webkit-transform: scaleX(1) scaleY(2) translate(18%, -41%);
          transform: scaleX(1) scaleY(2) translate(18%, -41%);
}

.clouds {
  -webkit-animation: cloud-anim 90s normal infinite linear;
          animation: cloud-anim 90s normal infinite linear;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transform-box: fill-box;
}

#arrow {
  position: relative;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: spin 3s alternate infinite linear;
          animation: spin 3s alternate infinite linear;
  transform-box: fill-box;
}

.mobile {
  display: none;
}

.background {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100%;
  background-color: #8f5c46;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8f5c46), color-stop(85%, #003657));
  background-image: linear-gradient(#8f5c46, #003657 85%);
  z-index: -5;
}

#container-2 h1 {
  font-family: "Farro", sans-serif;
  color: #ffbeba;
  font-size: 5vw;
  text-shadow: 0px 3px 5px #472b2b;
  -webkit-text-stroke: 2px #ffffff;
  width: 100%;
}

.main-carousel {
  margin: auto;
  width: 75%;
}

.flickity-viewport {
  overflow: unset;
  overflow-x: clip;
}

.mb-2,
.my-2 {
  margin-top: 20px;
}

.flickity-button {
  background: #ff979a;
  color: #fff;
}

.flickity-button:hover {
  background: #ffbbb8;
  color: #003657;
}

.flickity-prev-next-button.previous {
  left: -10%;
}

.flickity-prev-next-button.next {
  right: -10%;
}

.card-deck {
  margin: auto;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 100%;
}

.card-deck img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card {
  font-family: Verdana, sans-serif;
  background: #794832;
  padding: 20px;
}

.card:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.card:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.card:before,
.card:after {
  background: linear-gradient(235deg, #ffbeba, #ffffff, #ff979a);
}

.card .card-body h2 {
  font-size: 1.7em;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
}

.card .card-body p {
  font-size: 1em;
  color: #fff;
  line-height: 20px;
}

.card .description {
  height: 100px;
  overflow-y: auto;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #ff979a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.effect.effect-5 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.effect.effect-5:before {
  content: "\f054";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.effect.effect-5:hover {
  text-indent: 30px;
}

.effect.effect-5:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}

g#layer01_x5F_Clouds_x5F_1 path {
  fill: #c9eeff !important;
}

#container-3 {
  z-index: 0;
  background-color: #003657;
}

#container-3 h1 {
  position: absolute;
  font-family: "Farro", sans-serif;
  color: #ffbeba;
  font-size: 5vw;
  text-shadow: 0px 3px 5px #472b2b;
  -webkit-text-stroke: 2px #ffffff;
  top: 3vw;
  right: 18vw;
}

.about {
  position: absolute;
  background-color: #c0efff;
  width: 50vw;
  padding: 30px;
  top: 16vh;
  right: 3vw;
}

.about:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.about:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.about:before,
.about:after {
  background: linear-gradient(235deg, #ffbeba, #ffffff, #ff979a);
}

#layer03_x5F_Clouds_x5F_3 {
  -webkit-animation: cloud-anim 90s normal infinite linear;
          animation: cloud-anim 90s normal infinite linear;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transform-box: fill-box;
}

.about p {
  margin: 0;
  text-align: left;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  color: #00365a;
}

#container-4 {
  height: 70vh;
  background-color: #c9eeff;
}

#container-4 h1 {
  font-family: "Farro", sans-serif;
  color: #6eb6d0;
  font-size: 5vw;
  -webkit-text-stroke: 2px #498da5;
}

form {
  color: #498da5;
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
  text-align: left;
}

.form-control {
  background-color: #b7e1ef;
  border: 2px solid #98c6d4;
}

.form-control:focus {
  background-color: #fff2f2;
  border-color: #ffb7bc;
  -webkit-box-shadow: 0 0 0 0.2rem #ff979a85;
          box-shadow: 0 0 0 0.2rem #ff979a85;
}

#send-button {
  background-color: #6eb6d0;
  border: none;
}

#send-button:active {
  outline: none;
}

#send-button:focus {
  outline: none;
}

#send-button:focus-visible {
  outline: none;
}

footer {
  padding-top: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #ffbeba;
  background-color: #003657;
}

footer a {
  color: white;
}

footer a:hover {
  color: #7fd7ff !important;
}

#footer-logo {
  font-family: "Farro", sans-serif;
  font-size: 40px;
  text-shadow: 0px 3px 5px #472b2b;
  -webkit-text-stroke: 1px #ffffff;
  color: #ffbeba;
}

#footer-logo:hover {
  color: #ffbeba !important;
}

footer ul {
  list-style-type: none;
}

footer h5 {
  padding-bottom: 20px;
  text-shadow: 0px 3px 5px #472b2b;
}

footer .fas {
  font-size: 30px;
}

footer .fab {
  font-size: 30px;
}

#copyright {
  margin-top: 25px;
}

#copyright a {
  font-size: 12px;
  color: #628ead;
}

#copyright a:hover {
  color: #7296af !important;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes cloud-anim {
  from {
    -webkit-transform: translateX(-110vw) translateY(55px);
            transform: translateX(-110vw) translateY(55px);
  }
  to {
    -webkit-transform: translateX(200vw) translateY(55px);
            transform: translateX(200vw) translateY(55px);
  }
}

@keyframes cloud-anim {
  from {
    -webkit-transform: translateX(-110vw) translateY(55px);
            transform: translateX(-110vw) translateY(55px);
  }
  to {
    -webkit-transform: translateX(200vw) translateY(55px);
            transform: translateX(200vw) translateY(55px);
  }
}

@-webkit-keyframes social-anim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes social-anim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media (max-width: 1040px) {
  #content h1 {
    padding-top: 20vh;
  }
  #content h3 {
    font-size: 5vw;
    bottom: 19.5vw;
    left: 24.5vw;
    width: 25vw;
  }
  #sign {
    -webkit-transform: scale(2) translate(-6%, -41%);
            transform: scale(2) translate(-6%, -41%);
  }
  .candy_st84 {
    -webkit-transform: scaleX(1) scaleY(2) translate(20%, -41%);
            transform: scaleX(1) scaleY(2) translate(20%, -41%);
  }
  .candy_st85 {
    -webkit-transform: scaleX(1) scaleY(2) translate(6%, -41%);
            transform: scaleX(1) scaleY(2) translate(6%, -41%);
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .card-deck img {
    height: 45vh;
  }
  #container-3 h1 {
    top: 15vw;
  }
  .about {
    top: 25vw;
  }
}

@media (max-width: 700px) {
  #content h1 {
    font-size: 20vw;
  }
  #content h2 {
    font-size: 12vw;
  }
  #content h3 {
    font-size: 5.5vw;
    bottom: 18.5vw;
  }
  #sign {
    -webkit-transform: scale(2.5) translate(-10%, -48%);
            transform: scale(2.5) translate(-10%, -48%);
  }
  .nav {
    text-align: center;
  }
  #container-2 h1 {
    font-size: 12vw;
  }
  .card {
    padding: 1vh;
  }
  .card-deck img {
    height: 20vh;
  }
  .card .description {
    height: 200px;
    overflow-y: auto;
  }
  .card .techs {
    height: 120px;
    overflow-y: auto;
  }
  .card a {
    width: 100%;
  }
  .card .card-body h2 {
    height: 100px;
  }
  #container-3 {
    height: 180vh;
    z-index: 0;
    background-color: #003657;
  }
  #container-3 h1 {
    font-size: 12vw;
    right: 20vw;
    margin-top: 90vw;
  }
  .about {
    width: 80vw;
    padding: 20px;
    right: 9vw;
    margin-top: 100vw;
  }
  #container-4 {
    height: 70vh;
  }
  #container-4 h1 {
    font-size: 12vw;
  }
  footer ul {
    padding: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */