@font-face {
  font-family: Bubblegum;
  src: url("../fonts/Bubblegum.ttf");
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  font-family: 'Poppins';
}

.container {
  position: relative;
  text-align: center;
  padding: 0em 0;
  height: 100vh;
}

#container-1 {
  background-color: #ffaaa3;
}

#container-2 {
  height: 100vh;
  background-color: #8f5c46;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8f5c46), color-stop(85%, #003657));
  background-image: linear-gradient(#8f5c46, #003657 85%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 0;
}

#container-3 {
  background-color: #003657;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
}

#second-svg {
  top: 0;
}

.margin {
  margin-top: -5px;
}

#content {
  position: relative;
  height: 100vh;
  z-index: 1;
}

#content h1 {
  position: absolute;
  color: #fff7e7;
  text-shadow: 0px 3px 5px #472b2b;
  font-family: 'Farro', sans-serif;
  -webkit-text-stroke: 1px #472b2b;
  letter-spacing: 2px;
  font-size: 2.8vw;
  bottom: 15.5vw;
  left: 17.5vw;
  width: 15vw;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.clouds {
  -webkit-animation: cloud-anim 100s normal infinite linear;
          animation: cloud-anim 100s normal infinite linear;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transform-box: fill-box;
}

#arrow {
  position: relative;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: spin 3s alternate infinite linear;
          animation: spin 3s alternate infinite linear;
  transform-box: fill-box;
}

#container-2 h1 {
  position: absolute;
  top: 0;
}

.box {
  font-family: Verdana, sans-serif;
  background: #010615;
  position: relative;
  width: 300px;
  height: 200px;
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.box .img-box img {
  max-width: 100%;
  opacity: 0.1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box:hover {
  height: 250px;
}

.box:hover img {
  opacity: 1;
}

.box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

.box:before, .box:after {
  background: linear-gradient(235deg, #001aff, #ffee00, #00ff55);
}

.box:nth-child(2):before, .box:nth-child(2):after {
  background: linear-gradient(235deg, #ff0000, #00eeff, #ff00c8);
}

g#layer01_x5F_Clouds_x5F_1 path {
  fill: #c9eeff !important;
}

#contact {
  height: 100vh;
  background-color: #c9eeff;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes cloud-anim {
  from {
    -webkit-transform: translateX(-110vw) translateY(55px);
            transform: translateX(-110vw) translateY(55px);
  }
  to {
    -webkit-transform: translateX(200vw) translateY(55px);
            transform: translateX(200vw) translateY(55px);
  }
}

@keyframes cloud-anim {
  from {
    -webkit-transform: translateX(-110vw) translateY(55px);
            transform: translateX(-110vw) translateY(55px);
  }
  to {
    -webkit-transform: translateX(200vw) translateY(55px);
            transform: translateX(200vw) translateY(55px);
  }
}
/*# sourceMappingURL=style.css.map */