body {
    height: 100vh;
    // background-color: #ffa5a0;
    margin: 0px;
    display: grid;
    font-family: 'Poppins';
}

.container {
    text-align: center;
    padding: 0em 0; //8em 0
    height: 100vh;
}

section {
    text-align: center;
    padding: 8em 0;
    height: 100vh;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: visible;
}

.clouds {
    animation: cloud-anim 100s normal infinite linear;
}

@keyframes cloud-anim {
    from {
        transform: translateX(-110vw);
    }
    to {
        transform: translateX(200vw);
    }
}

#portfolio {
    height: 100vh;
    background-color: #cccccc;
    background-image: linear-gradient(#8f5c46, #023758);
}