@font-face { font-family: Bubblegum; src: url('../fonts/Bubblegum.ttf'); } 

body {
    height: 100vh;
    // background-color: #ffa5a0;
    margin: 0px;
    display: grid;
    font-family: 'Poppins';
}

.container {
    position: relative;
    text-align: center;
    padding: 0em 0; //8em 0
    height: 100vh;
}

#container-1 {
    background-color: #ffaaa3;
}

#container-3 {
    background-color: #003657;
}

svg {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: visible;
}

#first-svg {
    bottom: 0;
}

#second-svg {
    top: 0;
}

#content {
    position: relative;
    height: 100vh;
    z-index: 1;
    
    h1 {
        position: absolute;
        color: #fff7e7;
        text-shadow: 0px 3px 5px #472b2b;
        font-family: 'Farro', sans-serif;
        -webkit-text-stroke: 1px #bf1765;
        letter-spacing: 2px;
        font-size: 2.8vw;
        bottom: 15.5vw;
        left: 17.5vw;
        width: 15vw;        
        transform: rotate(-3deg);
    }   
}

.clouds {
    animation: cloud-anim 100s normal infinite linear;
}

@keyframes cloud-anim {
    from {
        transform: translateX(-110vw);
    }
    to {
        transform: translateX(200vw);
    }
}

.margin {
    margin-top: -5px;
}

#portfolio {
    height: 100vh;
    background-color: #8f5c46;
    background-image: linear-gradient(#8f5c46, #003657 85%);
}

#contact {
    height: 100vh;
    background-color: #c9eeff;
}

#arrow {
    position: relative;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    animation: spin 3s alternate infinite linear;
    transform-box: fill-box; 
}

@keyframes spin {
    from {
        transform: rotate(-60deg);
    }
    to { 
        transform: rotate(20deg);
    }
}

g#layer01_x5F_Clouds_x5F_1 path {
    fill: #c9eeff !important; 
}