body {
    height: 100vh;
    // background-color: #ffa5a0;
    margin: 0px;
    display: grid;
    font-family: 'Poppins';
}

.container {
    position: relative;
    text-align: center;
    padding: 0em 0; //8em 0
    height: 100vh;
}

#container-1 {
    background-color: #ffaaa3;
}

#container-3 {
    background-color: #c9eeff;
}

svg {
    position: absolute;
    left: 0;
    overflow: visible;
}

#first-svg {
    bottom: 0;
}

#second-svg {
    top: 0;
}

#content {
    position: relative;
    z-index: 1;
}

.clouds {
    animation: cloud-anim 100s normal infinite linear;
}

@keyframes cloud-anim {
    from {
        transform: translateX(-110vw);
    }
    to {
        transform: translateX(200vw);
    }
}

.second-div {
    margin-top: -5px;
}

#portfolio {
    height: 100vh;
    background-color: #8f5c46;
    background-image: linear-gradient(#8f5c46, #023758);
}

#arrow {
    // animation: spin 50s infinite;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to { 
        transform: rotateY(360deg);
    }
}

